{{#extend "stylesheets"}}
    <link rel="stylesheet" href="./stylesheets/index.css"/>
{{/extend}}

<header>Test project for patching 46G member files</header>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dsipay Page</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
            <a href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="list-container">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name(read)</th>
            <th>Name(jp)</th>
            <th>Name(en)</th>
            <th>Group</th>
            <th>Birthday</th>
            <th>Constellation</th>
            <th>height</th>
            <th>Birthplace</th>
            <th>Blood</th>
          </tr>
        </thead>
        <tbody>
          {{#each members}}
            <tr>
            <th scope="row">{{id}}</th>
            <td>{{name_jp}}</td>
            <td>{{name_cn}}</td>
            <td>{{name_en}}</td>
            <td>{{group}}</td>
            <td>{{birth}}</td>
            <td>{{constellation}}</td>
            <td>{{height}}</td>
            <td>{{birthplace}}</td>
            <td>{{blood}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
</section>

{{#extend "scripts"}}
    <script>
        
    </script>
{{/extend}}